<%= simple_form_for(@pool) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-md-6">
        <%= f.input :slug %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :website %>
      </div>
      <div class="col-md-6">
        <%= f.input :partner_link %>
      </div>
    </div>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
