<div class="col-lg-3 col-md-4">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <span class="label label-success pull-right"><%= money.money.symbol %></span>
      <h5><%= money.money.name %></h5>
    </div>
    <div class="ibox-content text-center">
      <%= link_to t('systems.information'),
                  pool_money_path(money.pool, money),
                  class: 'btn btn-default'
      %>
      <%= link_to t('.open_pool'),
                  pool_money_go_path(money.pool, money),
                  class: 'btn btn-primary',
                  target: '_blank'
      %>
    </div>
  </div>
</div>