<tr>
  <td>
    <%= link_to pool.name, pool %>
  </td>
  <td>
    <%= pool.website %>
  </td>
  <td>
    <%= pool.moneys.map{ |i| "<span class=\"label label-primary text-white\">#{i.symbol}</span>"}.join(' ').html_safe %>
  </td>
  <td>
    <% if policy(pool).edit? %>
      <%= link_to t('systems.edit'), edit_pool_path(pool), class: 'btn btn-success btn-xs' %>
    <% end %>
    <% if policy(pool).destroy? %>
      <%= link_to t('systems.destroy'),
                  pool,
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-danger btn-xs' %>
    <% end %>
  </td>
</tr>