<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <table class="table table-hover issue-tracker">
        <thead>
        <tr>
          <th><%= t('activerecord.attributes.pool.name') %></th>
          <th><%= t('activerecord.attributes.pool.website') %></th>
          <th><%= t('activerecord.models.money') %></th>
          <th><%= t('systems.actions.all') %></th>
        </tr>
        </thead>
        <tbody>
          <%= render partial: 'pools/pool', collection: @pools %>
        </tbody>
      </table>
    </div>
  </div>

  <% if policy(Pool).new? %>
    <%= link_to t('systems.actions.create'), new_pool_path, class: 'btn btn-primary btn-xs' %>
  <% end %>
</div>