<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%= t('pool_moneys.show.information_about_pool') %> <%= @pool.name %></h5>
    </div>
    <div class="ibox-content">
      <%= @pool.body.html_safe %>
      <p>
        <strong>Website:</strong>
        <%= @pool.website %>
      </p>
    </div>
  </div>

  <h3><%= t('.multi_mining') %></h3>
  <div class="row">
    <%= render partial: 'pools/money', collection: @multiple_mining %>
  </div>

  <h3><%= t('.solo_mining') %></h3>
  <div class="row">
    <%= render partial: 'pools/money', collection: @solo_mining %>
  </div>
</div>

<% if policy(PoolMoney).new? %>
  <%= link_to t('.add_money'),
              new_pool_money_path(@pool),
              class: 'btn btn-primary btn-xs' %>
<% end %>

<% if policy(@pool).edit? %>
  <%= link_to t('systems.edit'),
              edit_pool_path(@pool),
              class: 'btn btn-success btn-xs' %>
<% end %>

<% if policy(@pool).destroy? %>
  <%= link_to t('systems.destroy'),
              @pool,
              method: :delete,
              data: { confirm: 'Are you sure?'},
              class: 'btn btn-danger btn-xs'
  %>
<% end %>