<% unless @first_course.nil? %>
  <%= t('.best_course') %>
  <strong><%= @first_course.money_from.name %></strong>
  <%= t('system.on') %>
  <strong><%= @first_course.money_to.name %></strong>

  <br /><br />
  <%= t('system.be') %>
  <strong><%= nice_price(@first_course.value_in) %> </strong>
  <%= @first_course.money_from.currency %> <%= t('system.on') %>
  <strong><%= nice_price(@first_course.value_out) %> </strong>
  <%= @first_course.money_to.currency %>
  <br /><br />
  <%= link_to "#{t('.go_exchanger')} #{@first_course.exchange.title}",
              exchange_go_exchange_path(@first_course.exchange),
              target: :_blanck,
              class: "btn btn-success"
  %>
<% end %>