<li class="grid-item <%= 'CRYPTO' if change_money.is_crypto? %> <%= change_money.currency %> " style="width: 100%">
  <%= link_to change_money.icon_name, chenge_path(
    parametrs[:currency_from],
    (type == :buy)?(change_money.symbol):(parametrs[:money_from]),
    parametrs[:currency_to],
    (type == :sell)?(change_money.symbol):(parametrs[:money_to]),
  ), remote: true %>
</li>