<% new_url = chenge_path(
    (type == :buy) ? change_filter : parametrs[:currency_from],
    (type == :buy) ? 'ALL' : parametrs[:money_from],
    (type == :buy) ? parametrs[:currency_to] : change_filter,
    (type == :buy) ? parametrs[:money_to] : 'ALL',
  )
  this_url = chenge_path(
    parametrs[:currency_from],
    parametrs[:money_from],
    parametrs[:currency_to],
    parametrs[:money_to],
  )

   if new_url == this_url
     btn_class = 'btn btn-success btn-sm'
   else
     btn_class = 'btn btn-default btn-sm'
   end
%>



<%= link_to change_filter,
  new_url,
  data: {filter: ".#{change_filter}"},
  class: btn_class,
  remote: true
%>