<tr>
  <td>
    <%= link_to courses.exchange.title,
                exchange_go_exchange_path(courses.exchange),
                target: :_blanck %>
  </td>
  <td>
    <%= courses.money_from.name %>
  </td>
  <td>
    <%= nice_price(courses.value_in) %>
    <%= courses.money_from.currency %>
    <small><%= t('system.from') %>: <%= courses.amount_min %></small>
  </td>
  <td><%= courses.money_to.name %></td>
  <td>
    <%= nice_price(courses.value_out) %>
    <%= courses.money_to.currency %>
    <small><%= t('system.max') %>: <%= nice_price(courses.amount_exist) %></small>
  </td>
  <td>
    <%= l courses.created_at, format: :short %>
  </td>
</tr>