$('.filter-button-group-from').html('<%= escape_javascript(render partial: 'change/change_filter',
 collection: %w(ALL CRYPTO) + @currency_list.map(&:currency),
 locals: {parametrs: @changes_params, type: :buy}
) %>');

$('.filter-button-group-to').html('<%= escape_javascript(render partial: 'change/change_filter',
 collection: %w(ALL CRYPTO) + @currency_list.map(&:currency),
 locals: {parametrs: @changes_params, type: :sell}
) %>');

money_from = $('#money_from');
money_to = $('#money_to');

$("#variants").html("<%= escape_javascript(
  render partial: 'change/courses',
  collection: @exchange_course
) %>");

money_from.html("<%= escape_javascript(
  render partial: 'change/change_money',
    collection: @moneys_from,
    locals: {
      parametrs: @changes_params,
      type: :buy,
    }
) %>");


money_to.html("<%= escape_javascript(
  render partial: 'change/change_money',
     collection: @moneys_to,
     locals: {
       parametrs: @changes_params,
       type: :sell,
     }
) %>");

money_from.isotope( 'reloadItems' );

money_from.isotope({ filter: '<%= @changes_params[:currency_from]=='ALL'?'*':".#{@changes_params[:currency_from]}" %>'});

money_to.isotope( 'reloadItems' );

money_to.isotope({ filter: '<%= @changes_params[:currency_to]=='ALL'?'*':".#{@changes_params[:currency_to]}" %>'});

window.history.pushState("object or string", "Title", "<%= chenge_path(
    @changes_params[:currency_from],
    @changes_params[:money_from],
    @changes_params[:currency_to],
    @changes_params[:money_to]
  ) %>");

$('h1').text('<%= ("#{t('.best_exchange')} #{@money_from_title} на #{@money_to_title}".html_safe) %>');
$('.best_course').text('<%= escape_javascript(render partial: 'change/best_course', object: @first_course) %>');
