<div class="row">
  <div class="col-md-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.what_giving') %></h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-6">
            <div class="filter-button-group-from">
              <%= render partial: 'change/change_filter',
                 collection: %w(ALL CRYPTO) + @currency_list.map(&:currency),
                 locals: {
                   parametrs: @changes_params,
                   type: :buy
                 }
              %>
            </div>
            <ul id="money_from"
                data-selcted="<%= @changes_params[:currency_from]=='ALL'?'*':".#{@changes_params[:currency_from]}" %>"
                style="margin-left: 0;padding-left: 0;">
              <%= render partial: 'change/change_money',
                         collection: @moneys_from,
                         locals: {
                           parametrs: @changes_params,
                           type: :buy,
                         } %>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="filter-button-group-to">
              <%= render partial: 'change/change_filter',
                         collection: %w(ALL CRYPTO) + @currency_list.map(&:currency),
                         locals: {parametrs: @changes_params, type: :sell}
              %>
            </div>
            <ul id="money_to"
                data-selcted="<%= @changes_params[:currency_to]=='ALL'?'*':".#{@changes_params[:currency_to]}" %>">
              <%= render partial: 'change/change_money',
                         collection: @moneys_to,
                         locals: {
                           parametrs: @changes_params,
                           type: :sell,
                         } %>
            </ul>
          </div>
        </div>


      </div>
    </div>
    <%= link_to t('exchanges.index.list_exchanges'), exchanges_path %>
  </div>
  <div class="col-md-8">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('.options') %></h5>
      </div>
      <div class="ibox-content">

        <h3 id="best_course">
          <%= render partial: 'change/best_course', object: @first_course %>
        </h3>

        <table class="table table-hover issue-tracker courses-table">
          <thead>
            <tr>
              <th><%= t('activerecord.models.exchanges') %></th>
              <th><%= t('system.give') %></th>
              <th></th>
              <th><%= t('system.get_') %></th>
              <th></th>
              <th><%= t('system.actual_on') %></th>
            </tr>
          </thead>
          <tbody id="variants">
            <%= render partial: 'change/courses', collection: @exchange_course %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

