<tr>
  <td style="width: 33px">
    <%= image_tag(exchange.image.icon.url) if exchange.image? %>
  </td>
  <td class="">
    <%= link_to exchange.title, exchange_path(exchange), class: '' %>
  </td>
  <td><%= nice_price(exchange.full_reserve, 0) %> $</td>

  <td><%= link_to exchange.website, exchange_go_exchange_path(exchange) %></td>
  <td>
    <% if policy(exchange).edit? %>
        <%= link_to t('systems.edit'), edit_exchange_path(exchange), class: 'btn btn-warning btn-xs' %>
    <% end %>
    <% if policy(exchange).destroy? %>
        <%= link_to t('systems.destroy'),
                    exchange,
                    method: :delete,
                    data: {confirm: t('systems.are_you_sure')},
                    class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>