<%= simple_form_for(@exchange) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :title %>
      </div>
      <div class="col-md-6">
        <%= f.input :slug %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :website %>
      </div>
      <div class="col-md-6">
        <%= f.input :partner_link %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-8">
        <%= f.input :course_link %>
      </div>
      <div class="col-md-4">
        <%= f.input :parser_type, collection: parser_type_list %>
      </div>
    </div>

    <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>

    <%= f.input :status, as: :boolean %>
    <%= f.input :birth_date %>
    <div class="form-group">
      <%= f.label :image %>
      <p><%= image_tag(@exchange.image.thumb.url) if @exchange.image? %></p>
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
