<div class="wrapper wrapper-content">
  <% if policy(Exchange).new? %>
    <p>
      <%= link_to t('.create_exchanges'), new_exchange_path, class: 'btn btn-success' %>
    </p>
  <% end %>

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%= t('.list_exchanges') %> </h5>
    </div>
    <div class="ibox-content">
      <table class="table table-hover issue-tracker">
        <tbody>
          <%= render partial: 'exchanges/exchange', collection: @exchanges %>
        </tbody>
      </table>
    </div>
  </div>
</div>

