<div class="wrapper wrapper-content">

  <div class="row">
    <div class="col-lg-3">
      <div class="widget style1 navy-bg">
        <div class="row vertical-align">

          <div class="col-xs-10 text-right">
            <span style="font-size: 115%"><%= t('.amount_reserves') %></span>
            <h2 class="font-bold"><%= nice_price(@exchange.full_reserve, 0) %></h2>
          </div>
          <div class="col-xs-2">
            <i class="fa fa-usd fa-4x"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="widget style1 navy-bg">
        <div class="row vertical-align">
          <div class="col-xs-2">
            <i class="fa fa-usd fa-4x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <span style="font-size: 115%"><%= t('.price') %></span>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="widget style1 navy-bg">
        <div class="row vertical-align">
          <div class="col-xs-2">
            <i class="fa fa-usd fa-4x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <span style="font-size: 115%"><%= t('.price_change_1h') %></span>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="widget style1 navy-bg">
        <div class="row vertical-align">
          <div class="col-xs-2">
            <i class="fa fa-usd fa-4x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <span style="font-size: 115%"><%= t('.price_change_24h') %></span>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="widget style1 navy-bg">
        <div class="row vertical-align">
          <div class="col-xs-2">
            <i class="fa fa-usd fa-4x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <span style="font-size: 115%"><%= t('.price_change_7d') %></span>
            <h2 class="font-bold">

            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>
        <%= t('system.information_about') %> <%= @exchange.title %>
      </h5>
      <span class="pull-right">
        <% if policy(@exchange).edit? %>
          <%= link_to t('systems.edit'),
                      edit_exchange_path(@exchange),
                      class: 'btn btn-warning btn-xs'
          %>
        <% end %>
        <% if policy(@exchange).destroy? %>
          <%= link_to t('systems.destroy'),
                      @exchange,
                      method: :delete,
                      data: {confirm: t('systems.are_you_sure')},
                      class: 'btn btn-xs btn-danger'
          %>
        <% end %>
      </span>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag(@exchange.image.url, style: 'max-width:100%') if @exchange.image? %>
        </div>
        <div class="col-md-10">
          <p>
            <%= @exchange.body.html_safe unless @exchange.body.nil? %>
          </p>
          <p>
            <%= t('system.webpage') %>:
            <%= link_to @exchange.website, exchange_go_exchange_path(@exchange), target: '_blank' %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('.exchange_to') %></h5>
        </div>
        <div class="ibox-content">

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('.offers') %></h5>
        </div>
        <div class="ibox-content">

        </div>
      </div>
    </div>
  </div>
</div>