<%
  currency_from = 'CRYPTO'
  money_from = buy_crypto.currency.to_s.strip
  money_from = 'ALL' if money_from.blank?
  currency_to = (money.is_crypto?)?'CRYPTO':'ALL'
  currency_to = 'ALL' if currency_to.blank?
  money_to = money.symbol
%>

<%= render partial: 'money/course/link', locals: {
  title: money_title_from_currency(money_from),
  link: chenge_path(currency_from: currency_from, money_from: money_from, currency_to: currency_to, money_to: money_to),
  price: nice_price(buy_crypto.val * money.change_info_coefficient).html_safe,
  currency: money_from
} %>


