<%
  currency_from = buy_fiat.currency
  money_from = 'ALL'
  currency_to = (money.is_crypto?)?'CRYPTO':'ALL'
  money_to = money.symbol
%>

<%= render partial: 'money/course/link', locals: {
  title: money_title_from_currency(currency_from),
  link: chenge_path(currency_from, money_from, currency_to, money_to),
  price: nice_price(buy_fiat.val * money.change_info_coefficient).html_safe,
  currency: currency_from
} %>

