<li class="list-group-item">
  <span>
    <%= link_to title, link %>
  </span>
  <span class="pull-right">
    <%= price %>
    &nbsp;
    <span class="label label-info">
      <%= currency %>
    </span>
  </span>
</li>