<%
  currency_from = (money.is_crypto?)?'CRYPTO':'ALL'
  money_from = money.symbol.to_s.strip
  money_from = 'ALL' if money_from.blank?
  currency_to = sell_crypto.currency
  currency_to = 'ALL' if currency_to.blank?
  money_to = 'ALL'
%>

<%= render partial: 'money/course/link', locals: {
  title: money_title_from_currency(currency_to),
  link: chenge_path(currency_from, money_from, currency_to, money_to),
  price: nice_price(sell_crypto.val * money.change_info_coefficient).html_safe,
  currency: currency_to
} %>
