<tr>
  <td><%= article.title %></td>
  <td><%= article.article_category %></td>
  <td><%= article.body %></td>
  <td><%= article.user %></td>
  <td><%= article.meta_key %></td>
  <td><%= article.meta_desc %></td>
  <td><%= link_to 'Show', article %></td>
  <td>
    <% if policy(article).edit? %>
      <%= link_to t('systems.edit'), edit_article_path(article), class: 'btn btn-warning btn-xs' %>
    <% end %>
    <% if policy(article).destroy? %>
      <%= link_to t('systems.destroy'), article, method: :delete, data: {confirm: t('systems.are_you_sure')}, class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>