<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :title %>
      </div>
      <div class="col-md-6">
        <%= f.input :slug %>
      </div>
    </div>
    <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>
    <%= f.association :article_category %>
    <%= f.association :user %>
    <%= f.input :meta_key %>
    <%= f.input :meta_desc %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
