<div class="wrapper wrapper-content">
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Article category</th>
      <th>Body</th>
      <th>User</th>
      <th>Meta key</th>
      <th>Meta desc</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
      <%= render partial: 'articles/article', collection: @articles %>
    </tbody>
  </table>

  <br>

  <% if policy(Article).new? %>
    <%= link_to 'New Article', new_article_path, class: 'btn btn-default' %>
  <% end %>
</div>