<div class="wrapper wrapper-content">
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Article category:</strong>
    <%= @article.article_category %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @article.body.html_safe unless @article.body.nil? %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @article.user %>
  </p>

  <p>
    <strong>Meta key:</strong>
    <%= @article.meta_key %>
  </p>

  <p>
    <strong>Meta desc:</strong>
    <%= @article.meta_desc %>
  </p>

</div>