<tr>
  <td><%= miner_mode.name %></td>
  <td><%= miner_mode.slug %></td>
  <td><%= miner_mode.image %></td>
  <td><%= miner_mode.body %></td>
  <td><%= miner_mode.miner %></td>
  <td><%= miner_mode.website %></td>
  <td><%= miner_mode.partner_link %></td>
  <td><%= miner_mode.price %></td>
  <td><%= link_to 'Show', miner_mode %></td>
  <td><%= link_to 'Edit', edit_miner_mode_path(miner_mode) %></td>
  <td><%= link_to 'Destroy', miner_mode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>