<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Image</th>
      <th>Body</th>
      <th>Miner</th>
      <th>Website</th>
      <th>Partner link</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'miner_modes/miner_mode', collection: @miner_modes %>
  </tbody>
</table>