<p>
  <strong>Name:</strong>
  <%= @miner_mode.name %>
</p>


<p>
  <strong>Image:</strong>
  <%= @miner_mode.image %>
</p>

<p>
  <strong>Body:</strong>
  <%= @miner_mode.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= @miner_mode.price %>
</p>