<% # Clients of this partial must supply the following variables:
   # thread
   # user

   links_login = "<br /><span>#{t('.you_not_authorized')}: </span>" +
       (link_to '<i class="fa fa-at"></i> EMAIL'.html_safe, new_user_session_path, class: 'btn btn-default') +
       (link_to '<i class="fa fa-facebook"></i> FACEBOOK'.html_safe, user_facebook_omniauth_authorize_path, class: 'btn btn-default') +
       (link_to '<i class="fa fa-vk"></i> VKONTAKTE'.html_safe, user_vkontakte_omniauth_authorize_path, class: 'btn btn-default') +
       (link_to '<i class="fa fa-twitter"></i> TWITTER'.html_safe, user_twitter_omniauth_authorize_path, class: 'btn btn-default')
%>
<% if thread.can_be_read_by?(user) %>
  <div id="thread_<%= thread.id %>_div" class="thread" style="display: none;">
    <% if @commontator_thread_show %>
      <%= render partial: 'commontator/threads/show',
                 locals: { thread: thread,
                              user: user,
                              page: @commontator_page,
                              per_page: @commontator_per_page } %>
    <% else %>
      <% subscription = thread.subscription_for(user) %>
      <%= link_to "#{t 'commontator.thread.actions.show'} (#{(subscription.unread_comments.count.to_s + '/') if subscription}#{thread.filtered_comments.count.to_s})",
                  commontator.thread_path(thread),
                  remote: true %>

    <% end %>
  </div>
<% end %>
<div style="display: none" id="auth_link">
  <%= links_login.html_safe %>
</div>
