<div class="ibox float-e-margins">
  <div class="ibox-content">
    <%= simple_form_for(@money) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="row">
            <div class="col-md-6">
              <%= f.input :name %>
            </div>
            <div class="col-md-6">
              <%= f.input :slug %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <%= f.input :symbol %>
            </div>
            <div class="col-md-3">
              <%= f.input :currency, collection: currency_list %>
            </div>
            <div class="col-md-3">
              <%= f.input :change_info_coefficient %>
            </div>
            <div class="col-md-3">
              <%= f.input :money_type_id, collection: money_type_list %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= f.input :website %>
            </div>
            <div class="col-md-6">
              <%= f.input :twitter %>
            </div>
          </div>



          <div class="form-group">
            <%= f.label :image %>
            <p><%= image_tag(@money.image.thumb.url) if @money.image? %></p>
            <%= f.file_field :image %>
          </div>

          <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>
        </div>

        <div class="form-inputs">
          <br />
          <%= f.label :tag_list %> <br />
          <%= f.text_field :tag_list, class: 'tagsinput', value: f.object.tag_list.to_s %>
          <br />
        </div>


        <div class="row">
          <div class="col-md-3">
            <%= f.input :price_usd %>
          </div>
          <div class="col-md-3">
            <%= f.input :price_btc %>
          </div>
          <div class="col-md-2">
            <%= f.input :percent_change_1h %>
          </div>
          <div class="col-md-2">
            <%= f.input :percent_change_24h %>
          </div>
          <div class="col-md-2">
            <%= f.input :percent_change_7d %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.input :total_supply %>
          </div>
          <div class="col-md-4">
            <%= f.input :available_supply %>
          </div>
          <div class="col-md-4">
            <%= f.input :max_supply %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.input :market_cap_usd %>
          </div>
          <div class="col-md-4">
            <%= f.input :day_volume_usd %>
          </div>
          <div class="col-md-4">
            <%= f.input :last_updated %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-success' %>
        </div>
    <% end %>
  </div>
</div>


