<tr>
  <td class="hidden-xs">
    <%= money_cap_counter + 1 %>
  </td>
  <td class="hidden-xs">
    <%= image_tag(money_cap.image.icon.url) if money_cap.image? %>
  </td>
  <td class="hidden-xs">
    <span class="label label-primary text-white">
      <%= money_cap.symbol %>
    </span>
  </td>
  <td>
    <%= link_to "#{money_cap.name}" , money_cap %>
  </td>
  <td class="text-right ">
    <%= nice_price(money_cap.market_cap_usd,0) %> $
  </td>
</tr>


