<tr>
  <td class="hidden-xs hidden-sm">
    <%= image_tag(money.image.icon.url) if money.image? %>
  </td>
  <td>
    <span class="label label-primary text-white">
      <%= money.symbol %>
    </span>
  </td>
  <td class="hidden-xs">
    <%= link_to "#{money.name}" , money %>
  </td>

  <td class="text-right ">
    <%= nice_price(money.price_usd,3) %> $
  </td>
  <td class="text-right hidden-sm hidden-xs">
    <%= nice_price(money.market_cap_usd,0) %> $
  </td>
  <td class="hidden-xs text-<%= (money.change_1h_up? ? 'navy' : 'danger') %>">
    <i class="fa fa-level-<%= (money.change_1h_up? ? 'up' : 'down') %>"></i>
    <%= money.percent_change_1h %> %
  </td>
  <td class="text-<%= (money.change_24h_up? ? 'navy' : 'danger') %>">
    <i class="fa fa-level-<%= (money.change_24h_up? ? 'up' : 'down') %>"></i>
    <%= money.percent_change_24h %> %
  </td>
  <td class="text-<%= (money.change_7d_up? ? 'navy' : 'danger') %>">
    <i class="fa fa-level-<%= (money.change_7d_up? ? 'up' : 'down') %>"></i>
    <%= money.percent_change_7d %> %
  </td>
</tr>


