<tr>
  <td class="hidden-xs">
    <%= money_change_week_counter + 1 %>
  </td>
  <td class="hidden-xs">
    <%= image_tag(money_change_week.image.icon.url) if money_change_week.image? %>
  </td>
  <td class="hidden-xs">
    <span class="label label-primary text-white">
      <%= money_change_week.symbol %>
    </span>
  </td>
  <td>
    <%= link_to "#{money_change_week.name}" , money_change_week %>
  </td>
  <td class="text-right ">
    <%= nice_price(money_change_week.price_usd,3) %> $
  </td>
  <td class="text-<%= (money_change_week.change_7d_up? ? 'navy' : 'danger') %>">
    <i class="fa fa-level-<%= (money_change_week.change_7d_up? ? 'up' : 'down') %>"></i>
    <%= money_change_week.percent_change_7d %> %
  </td>
</tr>


