<div class="row">
  <% if money.is_mining? && action_name != 'mining' %>
    <div class="col-lg-6">
      <%= link_to mining_money_path(money) do %>
        <div class="widget style1 blue-bg">
          <div class="row vertical-align">
            <div class="col-xs-3">
              <i class="fa fa-hdd-o fa-3x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <h2 class="font-bold" style="color:white;">
                <%= "#{t('.mining')} #{money.name}" %>
              </h2>
            </div>
          </div>
      </div>
    </div>
   <% end %>
  <% end %>
  <% if money.event_exist? %>
    <% if action_name != 'events' %>
      <div class="col-lg-6">
        <div class="widget style1 blue-bg">
          <div class="row vertical-align">
            <div class="col-xs-3">
              <i class="fa fa-clock-o fa-3x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <h2 class="font-bold">
                <%= link_to "#{t('.events')} #{money.name}",
                            events_money_path(money),
                            style: 'color:white' %>
              </h2>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% elsif current_user.present? && current_user.admin? %>
    <div class="col-lg-6">
      <div class="widget style1 blue-bg">
        <div class="row vertical-align">
          <div class="col-xs-3">
            <i class="fa fa-clock-o fa-3x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <h2 class="font-bold">
              Нет событий...
              <%= link_to 'Добавить новое', new_money_event_path(money), class: 'btn btn-primary' %>
            </h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if money.market_cap_usd.present? %>
    <div class="col-lg-3">
      <div class="widget style1 navy-bg">
        <div class="row vertical-align">
          <div class="col-xs-2">
            <i class="fa fa-usd fa-4x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <span style="font-size: 115%"><%= t('page.index.total_market_cap') %></span>
            <h2 class="font-bold">
              <%= nice_price(money.market_cap_usd, 0) %>
            </h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if money.price_usd.present? %>
    <div class="col-lg-3">
      <div class="widget style1 navy-bg">
        <div class="row vertical-align">
          <div class="col-xs-2">
            <i class="fa fa-usd fa-4x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <span style="font-size: 115%"><%= t('.price') %></span>
            <h2 class="font-bold">
              <%= nice_price(money.price_usd) %>
            </h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if money.percent_change_1h.present? %>
    <div class="col-lg-2">
      <div class="widget style1 <%= (money.change_1h_up? ? 'navy' : 'red') %>-bg">
        <div class="row vertical-align">
          <div class="col-xs-2">
            <i class="fa fa-level-<%= (money.change_1h_up? ? 'up' : 'down') %> fa-4x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <span style="font-size: 115%"><%= t('.price_change_1h') %></span>
            <h2 class="font-bold">
              <%= money.percent_change_1h %> %
            </h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if money.percent_change_24h.present? %>
    <div class="col-lg-2">
      <div class="widget style1 <%= (money.change_24h_up? ? 'navy' : 'red') %>-bg">
        <div class="row vertical-align">
          <div class="col-xs-2">
            <i class="fa fa-level-<%= (money.change_24h_up? ? 'up' : 'down') %> fa-4x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <span style="font-size: 115%"><%= t('.price_change_24h') %></span>
            <h2 class="font-bold">
              <%= money.percent_change_24h %> %
            </h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if money.percent_change_7d.present? %>
    <div class="col-lg-2">
      <div class="widget style1 <%= (money.change_7d_up? ? 'navy' : 'red') %>-bg">
        <div class="row vertical-align">
          <div class="col-xs-2">
            <i class="fa fa-level-<%= (money.change_7d_up? ? 'up' : 'down') %> fa-4x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <span style="font-size: 115%"><%= t('.price_change_7d') %></span>
            <h2 class="font-bold">
              <%= money.percent_change_7d %> %
            </h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>