<tr>
  <td class="hidden-xs">
    <%= money_change_day_counter + 1 %>
  </td>
  <td class="hidden-xs">
    <%= image_tag(money_change_day.image.icon.url) if money_change_day.image? %>
  </td>
  <td class="hidden-xs">
    <span class="label label-primary text-white">
      <%= money_change_day.symbol %>
    </span>
  </td>
  <td>
    <%= link_to "#{money_change_day.name}" , money_change_day %>
  </td>
  <td class="text-right ">
    <%= nice_price(money_change_day.price_usd,3) %> $
  </td>
  <td class="text-<%= (money_change_day.change_24h_up? ? 'navy' : 'danger') %>">
    <i class="fa fa-level-<%= (money_change_day.change_24h_up? ? 'up' : 'down') %>"></i>
    <%= money_change_day.percent_change_24h %> %
  </td>
</tr>


