<div class="wrapper wrapper-content">

  <%= render partial: 'money/money_header', locals: {money: @money} %>

  <hr />

  <div class="ibox float-e-margins">
    <div class="ibox-content" id="ibox-content">

      <div id="vertical-timeline" class="vertical-container dark-timeline">
          <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon blue-bg">
            <i class="fa fa-file-text"></i>
          </div>

          <%= render partial: 'events/event', collection: @events %>

        </div>
      </div>

    </div>
  </div>

</div>