<div class="wrapper wrapper-content">
  <% unless @page.body.nil? %>
  <p>
      <%= @page.body.html_safe %>
  </p>
  <% end %>

  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <table class="table table-hover issue-tracker">
        <thead>
        <tr>
          <th class="hidden-sm hidden-xs"><%= t('system.image') %></th>
          <th><%= t('activerecord.attributes.money.symbol') %></th>
          <th class="hidden-xs"><%= t('activerecord.models.money') %></th>
          <th class="text-right"><%= t('activerecord.attributes.money.price') %></th>
          <th class="text-right hidden-sm hidden-xs"><%= t('activerecord.attributes.money.capital') %></th>
          <th class="hidden-xs"><%= t('activerecord.attributes.money.change_1h') %></th>
          <th><%= t('activerecord.attributes.money.change_24h') %></th>
          <th><%= t('activerecord.attributes.money.change_7d') %></th>
        </tr>
        </thead>
        <tbody>
          <%= render partial: 'money/money', collection: @moneys %>
        </tbody>
      </table>
      <%= paginate @moneys %>
    </div>
  </div>
  <% if policy(Money).new? %>
    <%= link_to t('crypto.add'), new_money_path, class: 'btn btn-success' %>
  <% end %>
  <% if policy(Money).new? %>
    <br/>
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('crypto.fiat_money') %></h5>
      </div>
      <div class="ibox-content">
        <table class="table table-hover issue-tracker">
          <tbody>
          <%= render partial: 'money/money', collection: @money_fiats %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>