<div class="wrapper wrapper-content animated fadeInRight article">

  <%= render partial: 'money/money_header', locals: { money: @money} %>

  <br/>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="ibox">
        <div class="ibox-content">
          <div class="text-center article-title">
            <h1><%= @texts[:page].h1 %></h1>
          </div>

          <p><%= @texts[:page].body.html_safe unless @texts[:page].body.nil? %></p>

          <h2 class="text-center">
            <%= @texts[:start].h1 %>
          </h2>

          <p><%= @texts[:start].body.html_safe unless @texts[:start].body.nil? %></p>

          <hr />

          <h2 class="text-center">
            <%= @texts[:miners].h1 %>
          </h2>

          <p><%= @texts[:miners].body.html_safe unless @texts[:miners].body.nil? %></p>

          <hr />

          <% if @money.miners.size > 0 %>
            <table class="table table-hover issue-tracker">
              <thead>
              <tr>
                <th><%= I18n.t('activerecord.attributes.miner.image') %></th>
                <th><%= I18n.t('activerecord.attributes.miner.name') %></th>
                <th><%= I18n.t('activerecord.attributes.miner.power_rate') %></th>
                <th><%= I18n.t('activerecord.attributes.miner.noise_level') %></th>
                <th colspan="2"></th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: 'miners/miner', collection: @money.miners %>
              </tbody>
            </table>
          <% end %>

          <hr />

          <h2 class="text-center">
            <%= @texts[:soft].h1 %>
          </h2>

          <p><%= @texts[:soft].body.html_safe unless @texts[:soft].body.nil? %></p>

          <hr />

          <h2 class="text-center">
            <%= @texts[:pool].h1 %>
          </h2>

          <p><%= @texts[:pool].body.html_safe unless @texts[:pool].body.nil? %></p>

          <hr />

          <% if @pools.size > 0 %>
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5><%= t('crypto.maining_pool', code: @money.symbol) %></h5>
              </div>
              <div class="ibox-content">
                <table class="table table-hover issue-tracker">
                  <thead>
                    <tr></tr>
                  </thead>
                  <tbody>
                    <%= render partial: 'money/pool_money', collection: @pools, locals: {money: @money}  %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>

          <h2 class="text-center">
            <%= @texts[:market].h1 %>
          </h2>

          <p><%= @texts[:market].body.html_safe unless @texts[:market].body.nil? %></p>

          <hr />

          <div class="row">
            <div class="col-md-6">
              <%= t('activerecord.models.market') %>
            </div>
            <div class="col-md-6">
              <%= t('activerecord.models.wallet') %>
            </div>
          </div>

          <h2 class="text-center">
            <%= t('system.exchange') %> <%= @money.name %> (<%= @money.symbol %>) <%= t('system.on_fiat') %>
            <%= @texts[:withdraw].h1 %>
          </h2>

          <p><%= @texts[:withdraw].body.html_safe unless @texts[:withdraw].body.nil? %></p>

        </div>
      </div>
    </div>
  </div>
</div>

<%= @h1 = nil %>