<% add_breadcrumb I18n.t('breadcrumbs.homepage'), root_path %>
<% add_breadcrumb I18n.t('activerecord.models.money'), money_index_path %>
<% add_breadcrumb I18n.t('breadcrumbs.create') %>
<% @h1 = I18n.t('breadcrumbs.create') %>
<br />
<%= render 'form', crypto: @crypto %>
