<div class="wrapper wrapper-content  animated fadeInRight blog">
  <% unless @page.body.nil? %>
    <%= @page.body.html_safe %>
  <% end %>

  <div class="row">
    <%= render partial: 'news/news', collection: @news %>
  </div>

  <%= paginate @news %>
</div>

