<div class="wrapper wrapper-content">

  <%= render partial: 'money/money_header', locals: {money: @money} %>

  <div class="ibox">
    <div class="ibox-title">
      <h5><%= t('crypto.info', title: @money.name) %></h5>
      <span class="pull-right">
        <% if policy(@money).edit? %>
          <%= link_to t('systems.edit'), edit_money_path(@money), class: 'btn btn-warning btn-xs' %>
        <% end %>
        <% if policy(@money).destroy? %>
          <%= link_to t('systems.destroy'),
                      @money,
                      method: :delete,
                      data: {confirm: t('systems.are_you_sure')},
                      class: 'btn btn-xs btn-danger' %>
        <% end %>
      </span>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag(@money.image.url, style: 'max-width:100%') if @money.image? %>
        </div>
        <div class="col-md-10">
          <p>
            <%= @money.body.html_safe unless @money.body.nil? %>
          </p>
          <p>
            <%= t('system.webpage') %>: <%= link_to @money.website, @money.website, target: '_blank' %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <% @money.algorithms.each do |algorithm| %>
    <div class="ibox">
      <div class="ibox-title">
        <h5><%= t('activerecord.models.algorithm') %>: <%= link_to algorithm.name, algorithm %></h5>
      </div>
      <div class="ibox-content">
        <%= algorithm.body.html_safe if algorithm.body.present? %>
      </div>
    </div>
  <% end %>


  <div class="row">
    <% if @news.size > 0 %>
      <div class="col-md-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>
              <%= link_to "#{t('activerecord.models.news')} #{@money.name}", news_money_path(@money) %>
            </h5>

          </div>
          <div class="ibox-content">
            <div>
              <div id="vertical-timeline" class="light-timeline no-margins">
                <%= render partial: 'news/feed', collection: @news %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% unless @money.twitter.blank? %>
      <div class="col-md-6">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <a data-height="600" class="twitter-timeline" href="https://twitter.com/<%= @money.twitter %>">
              Tweets by <%= @money.twitter %>
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    <% end %>

    <% if @markets.size > 0 %>
      <div class="col-md-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><%= t('crypto.markets', code: @money.symbol) %></h5>
          </div>
          <div class="ibox-content">
            <div id="morris-one-line-chart"></div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @courses_buy_crypto.length > 0 || @courses_sell_crypto.length > 0 %>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h3><%= t('buy') %> <%= t('.for_crypto_currency') %> </h3>
              </div>

              <div class="ibox-content">
                <small>
                  <%= t('crypto.exchange_buy',
                        coefficient: nice_price(@money.change_info_coefficient, 0),
                        code: @money.symbol
                      ) %>
                </small>
                <ul class="list-group clear-list m-t">
                  <%= render partial: 'money/course/buy_crypto',
                             collection: @courses_buy_crypto,
                             locals: {money: @money} %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h3><%= t('sell') %> <%= t('.for_crypto_currency') %></h3>
              </div>

              <div class="ibox-content">
                <small>
                  <%= t('crypto.exchange_sell',
                        coefficient: nice_price(@money.change_info_coefficient, 0),
                        code: @money.symbol
                      ) %>
                </small>
                <ul class="list-group clear-list m-t">
                  <%= render partial: 'money/course/sell_crypto',
                             collection: @courses_sell_crypto,
                             locals: {money: @money} %>
                </ul>
              </div>
            </div>



          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h4><%= t('buy') %> <%= t('.for_fiat_money') %></h4>
              </div>

              <div class="ibox-content">
                <small>
                  <%= t('crypto.exchange_buy',
                        coefficient: nice_price(@money.change_info_coefficient, 0),
                        code: @money.symbol
                      ) %>
                </small>
                <ul class="list-group clear-list m-t">
                  <%= render partial: 'money/course/buy_fiat',
                             collection: @courses_buy_fiat,
                             locals: {money: @money} %>
                </ul>
              </div>
            </div>


          </div>
          <div class="col-md-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h4><%= t('sell') %> <%= t('.for_fiat_money') %></h4>
              </div>

              <div class="ibox-content">
                <small>
                  <%= t('crypto.exchange_sell',
                        coefficient: nice_price(@money.change_info_coefficient, 0),
                        code: @money.symbol
                      ) %>
                </small>
                <ul class="list-group clear-list m-t">
                  <%= render partial: 'money/course/sell_fiat',
                             collection: @courses_sell_fiat,
                             locals: {money: @money} %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
