<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%= t('crypto.list') %></h5>
    </div>
    <div class="ibox-content">
      <p>
        <%= page_entries_info @moneys %>
      </p>
      <table class="table table-hover issue-tracker">
        <thead>
        <tr>
          <th class="hidden-xs"></th>
          <th class="hidden-xs"><%= t('activerecord.attributes.money.symbol') %></th>
          <th><%= t('activerecord.models.money') %></th>
          <th class="text-right"><%= t('activerecord.attributes.money.capital') %></th>
          <th class="text-right"><%= t('activerecord.attributes.money.price') %></th>
          <th><%= t('activerecord.attributes.money.change_1h') %></th>
          <th><%= t('activerecord.attributes.money.change_24h') %></th>
          <th><%= t('activerecord.attributes.money.change_7d') %></th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: 'money/money', collection: @moneys %>
        </tbody>
      </table>
      <%= paginate @moneys %>
    </div>
  </div>
</div>