<div class="vertical-timeline-block">
  <div class="vertical-timeline-icon <%= class_bg_from_action(time_line.action) %>">
    <i class="<%= favicon_from_action(time_line.action) %>"></i>
  </div>
  <div class="vertical-timeline-content" style="background-color: #ffffff !important;">
    <div>
      <% Audited::YAMLIfTextColumnType.load(time_line.audited_changes).each do |key,val|  %>
        <% if time_line.action == 'update' %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong><%= key %></strong> - <%= t('.old_data') %>
            </div>
            <div class="panel-body">
              <%= val.first.html_safe unless val.first.nil? %>
            </div>
            <div class="panel-heading">
              <strong><%= key %></strong> - <%= t('.new_data') %>
            </div>
            <div class="panel-body">
              <%= val.last.html_safe unless val.last.nil? %>
            </div>
          </div>
        <% else %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong><%= key %></strong>
            </div>
            <div class="panel-body">
              <%= val %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <span class="vertical-date">
      <h2><%= t("activerecord.models.#{(time_line.auditable_type).downcase}") %></h2>
      <%= t("systems.actions.#{(time_line.action).downcase}") %>
      <br/>
      <small>
        <%= l time_line.created_at, format: :long %>
      </small>
      <% if time_line.action != t('systems.destroy') %>
        <br />
        <p>
          <a href="#" class="btn btn-sm btn-success">
            Go to object
          </a>
        </p>
      <% end %>
    </span>
  </div>
</div>
