<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%=t('.activites')%></h5>
    </div>
    <div class="ibox-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content" id="ibox-content">
          <div id="vertical-timeline" class="dark-timeline center-orientation">
            <%= render partial: 'users/time_line', collection: @audits %>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>