<div class="wrapper wrapper-content">
<div class="row animated fadeInRight">
  <div class="col-md-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%=t('.profile_detail')%></h5>
      </div>
      <div class="ibox-content">

      </div>
    </div>
  </div>
  <div class="col-md-8">

  </div>
</div>
</div>