<tr>
  <td><%= news_source.name %></td>
  <td><%= news_source.source %></td>
  <td><%= news_source.website %></td>
  <td><%= link_to 'Show', news_source %></td>
  <td>
    <% if policy(news_source).edit? %>
      <%= link_to t('systems.edit'), edit_news_source_path(news_source), class: 'btn btn-success btn-xs' %>
    <% end %>
  </td>
  <td>
    <% if policy(news_source).destroy? %>
      <%= link_to t('systems.destroy'), news_source, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>