<p id="notice"><%= notice %></p>

<h1>News Sources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'news_sources/news_source', collection: @news_sources %>
  </tbody>
</table>

<br>

<%= link_to 'New News Source', new_news_source_path %>
