<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @news_source.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @news_source.source %>
</p>

<p>
  <strong>Website:</strong>
  <%= @news_source.website %>
</p>

<%= link_to t('systems.edit'), edit_news_source_path(@news_source), class: 'btn btn-warning btn-xs' %> |
<%= link_to 'Back', news_sources_path %>
