<tr>
  <td style="width: 100px">
    <%= image_tag algorithm.image.thumb.url if algorithm.image.present? %>
  </td>
  <td><%= link_to algorithm.name, algorithm %></td>
  <td>
    <%= algorithm.moneys.map{ |i| "<span class=\"label label-primary text-white\">#{i.symbol}</span>"}.join(' ').html_safe %>
  </td>
  <td>
    <% if policy(algorithm).edit? %>
      <%= link_to t('systems.edit'), edit_algorithm_path(algorithm), class: 'btn btn-warning btn-xs' %>
    <% end %>
    <% if policy(algorithm).destroy? %>
      <%= link_to t('systems.destroy'), algorithm, method: :delete, data: {confirm: t('systems.are_you_sure')}, class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>