<%= simple_form_for(@algorithm) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-md-6">
        <%= f.input :slug %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :image %>
      <p><%= image_tag(@algorithm.image.thumb.url) if @algorithm.image? %></p>
      <%= f.file_field :image %>
    </div>

    <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>

    <div class="form-inputs">
      <br />
      <%= f.label :tag_list %> <br />
      <%= f.text_field :tag_list, class: 'tagsinput', value: f.object.tag_list.to_s %>

    </div>
  </div>
  <br />
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
