<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <table class="table">
        <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <%= render partial: 'algorithms/algorithm', collection: @algorithms %>
        </tbody>
      </table>
    </div>
  </div>
  <% if policy(Algorithm).new? %>
    <%= link_to 'New Algorithm', new_algorithm_path, class: 'btn btn-success' %>
  <% end %>
</div>