<div class="wrapper wrapper-content">
  <% if policy(@algorithm).edit? %>
    <%= link_to t('systems.edit'), edit_algorithm_path(@algorithm), class: 'btn btn-warning btn-xs' %>
  <% end %>
  <% if policy(@algorithm).destroy? %>
    <%= link_to t('systems.destroy'), @algorithm,
                method: :delete,
                data: {confirm: t('systems.are_you_sure')},
                class: 'btn btn-xs btn-danger' %>
  <% end %>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <div class="col-md-3">
          <%= image_tag @algorithm.image.url if @algorithm.image.present? %>
        </div>
        <div class="col-md-9">
          <%= @algorithm.body.html_safe if @algorithm.body.present? %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% @algorithm.moneys.each do |money| %>
      <div class=" col-md-2">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h3><%= link_to money.name, money %></h3>
          </div>
          <div class="ibox-content">
            <%= image_tag money.image.thumb.url if money.image.present? %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>