<div class="vertical-timeline-content">
  <h2><%= link_to event.name, money_event_path(event.money, event) %></h2>
  <p><%= event.status_text %></p>
  <%= link_to t('money.show.more_info'),
              events_money_path(event.money, event),
              class: 'btn btn-sm btn-success'
  %>
  <span class="vertical-date">
    Today
    <br>
    <small><%= l event.appointment_date %></small>
  </span>
</div>