<%= simple_form_for [@money, @event] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-md-6">
        <%= f.input :slug %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :image %>
        <p><%= image_tag(@money.image.thumb.url) if @money.image? %></p>
        <%= f.file_field :image %>
      </div>
      <div class="col-md-4">
        <%= f.input :appointment_date %>
      </div>
      <div class="col-md-2">
        <%= f.input :progress %>
      </div>
    </div>

    <%= f.input :status_text %>

    <%= f.input :description %>

    <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>
  </div>
  <br />
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
