<div class="wrapper wrapper-content">
  <table class="table">
    <thead>
      <tr>
        <th>Money</th>
        <th>Name</th>
        <th>Body</th>
        <th>Image</th>
        <th>Appointment date</th>
        <th>Description</th>
        <th>Status text</th>
        <th>Progress</th>
        <th>Slug</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'events/event', collection: @events %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Event', new_money_event_path(@money), class: 'btn btn-success' %>
</div>