<div class="col-lg-3 col-md-4 col-xs-6">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <span class="label label-primary pull-right"><%= crypto_block.code %></span>
      <h5><%= crypto_block.title %></h5>
    </div>
    <div class="ibox-content">
      <h1 class="no-margins">40 886,200</h1>
      <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
      <small>Total income</small>
    </div>
  </div>
</div>