<tr>
  <td class="hidden-xs">
    <span class="label label-primary text-white">
      <%= money.symbol %>
    </span>
  </td>
  <td>
    <%= link_to "#{money.name}" , money_path(money) %>
  </td>
  <td class="text-right ">
    <%= nice_price(money.price_usd,2) %>
  </td>
  <td class="text-<%= (money.change_1h_up? ? 'navy' : 'danger') %>">
    <i class="fa fa-level-<%= (money.change_1h_up? ? 'up' : 'down') %>"></i>
    <%= money.percent_change_1h %> %
  </td>
  <td class="text-<%= (money.change_24h_up? ? 'navy' : 'danger') %>">
    <i class="fa fa-level-<%= (money.change_24h_up? ? 'up' : 'down') %>"></i>
    <%= money.percent_change_24h %> %
  </td>
  <td class="text-<%= (money.change_7d_up? ? 'navy' : 'danger') %>">
    <i class="fa fa-level-<%= (money.change_7d_up? ? 'up' : 'down') %>"></i>
    <%= money.percent_change_7d %> %
  </td>
</tr>