<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-6">
      <div class="ibox-title">
        <h5><%= t('.news_crypto_world') %></h5>
      </div>
      <div class="ibox-content">
        <div>
          <div id="vertical-timeline" class="light-timeline no-margins">
            <%= render :partial => 'news/feed', collection: @news %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('.crypto_price_list') %></h5>
        </div>
        <div class="ibox-content">
          <table class="table table-hover no-margins">
            <thead>
            <tr>
              <th class="hidden-xs"><%= t('activerecord.attributes.money.symbol') %></th>
              <th><%= t('activerecord.attributes.money.title') %></th>
              <th><%= t('activerecord.attributes.money.price') %></th>
              <th><%= t('activerecord.attributes.money.change_1h') %></th>
              <th><%= t('activerecord.attributes.money.change_24h') %></th>
              <th><%= t('activerecord.attributes.money.change_7d') %></th>
            </tr>
            </thead>
            <tbody>
            <%= render :partial => 'page/money', collection: @moneys %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>