<div class="vertical-timeline-block">
  <div class="vertical-timeline-icon navy-bg">
    <i class="fa fa-briefcase"></i>
  </div>

  <div class="vertical-timeline-content">
    <h2><%= feed.title %></h2>
    <p>
      <%= feed.meta_description %>
    </p>

    <%= link_to t('.more_info'), feed, class: 'btn btn-sm btn-primary' %>

    <span class="vertical-date">
      <small></small>
      <small>
        <%= l feed.created_at, format: :short %>
      </small>
    </span>
  </div>
</div>