<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :title %>
      </div>
      <div class="col-md-6">
        <%= f.input :slug %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :meta_description %>
      </div>
      <div class="col-md-6">
        <%= f.input :meta_keywors %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <p><%= image_tag(@news.image.thumb.url) if @news.image? %></p>
      <%= f.file_field :image %>
    </div>

    <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>


    <div class="row">
      <div class="col-md-6">
        <%= f.input :source %>
      </div>
      <div class="col-md-6">
        <%= f.input :link %>
      </div>
    </div>

    <%= f.label :tag_list %><br/>
    <%= f.text_field :tag_list, class: 'tagsinput', value: f.object.tag_list.to_s %>
  </div>
  <br />
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
