<div class="col-lg-12">
  <div class="ibox">
    <div class="ibox-content">
      <a href="<%= news_path(news) %>" class="btn-link">
        <h2>
          <%= news.title %>
        </h2>
      </a>
      <div class="small m-b-xs">
        <span class="text-muted">
          <i class="fa fa-clock-o"></i>
          <%= l news.created_at, format: :short %>
        </span>
      </div>
      <p>
        <%= news.meta_description %>
      </p>
      <div class="row">
        <div class="col-md-6">
          <h5>Tags:</h5>
          <% news.tag_list.each do |t| %>
            <button class="btn btn-primary btn-xs" type="button">
              <%= t %>
            </button>
          <% end %>
        </div>
        <div class="col-md-6">
          <div class="small text-right">
            <h5>Stats:</h5>
            <div><i class="fa fa-comments-o"> </i> <%= news.thread.filtered_comments.count.to_s %> comments</div>
            <i class="fa fa-eye"> </i> 0 views
          </div>
        </div>
      </div>
    </div>
  </div>
</div>