<div class="wrapper wrapper-content  animated fadeInRight blog">
  <% if policy(News).new? %>
      <%= link_to 'New News', new_news_path, class: 'btn btn-success' %>
  <% end %>
  <% if policy(NewsSource).index? %>
    <%= link_to 'News Source', news_sources_path, class: 'btn btn-success' %>
  <% end %>

  <% unless @page.body.nil? %>
    <%= @page.body.html_safe %>
  <% end %>

  <div class="row">
    <%= render partial: 'news/news', collection: @news %>
  </div>
  <%= paginate @news %>
</div>

