<div class="wrapper wrapper-content animated fadeInRight article">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="ibox">
        <div class="ibox-content">
          <div class="pull-right">
            <% if policy(@news).edit? %>
              <%= link_to t('systems.edit'), edit_news_path(@news), class: 'btn btn-warning btn-xs' %>
            <% end %>
            <% if policy(@news).destroy? %>
              <%= link_to t('systems.destroy'), @news, method: :delete, data: { confirm: t('systems.are_you_sure') } , class: 'btn btn-xs btn-danger' %>
            <% end %>
          </div>
          <div class="text-center article-title">
            <span class="text-muted"><i class="fa fa-clock-o"></i>
              <%= l @news.created_at, format: :short %>
            </span>
            <h1>
              <%= @news.title %>
            </h1>
          </div>
          <p style="overflow: hidden">
            <%= @news.body.html_safe unless @news.body.nil? %>
          </p>
          <%= link_to(
                t('.read_in_source'),
                news_go_path(@news),
                class: 'btn bth-default',
                target: '_blank'
              ) if @news.link.present? %>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <h5>Tags:</h5>
              <% @news.tag_list.each do |t| %>
                  <button class="btn btn-primary btn-xs" type="button">
                    <%= t  %>
                  </button>
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="small text-right">
                <h5>Stats:</h5>
                <div> <i class="fa fa-comments-o"> </i> <%= @news.thread.filtered_comments.count.to_s %> comments </div>
                <i class="fa fa-eye"> </i> 0 views
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <%= commontator_thread(@news) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



