<%= simple_form_for @pool_money do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.association :money %>
      </div>
      <div class="col-md-6">
        <%= f.input :mining_type, collection: PoolMoney::MINING_TYPES %>
      </div>
    </div>



    <div class="row">
      <div class="col-md-6">
        <%= f.input :website %>
      </div>
      <div class="col-md-6">
        <%= f.input :partner_link %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :pool_hashrate %>
      </div>
      <div class="col-md-6">
        <%= f.input :miners_count %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :workers_count %>
      </div>
      <div class="col-md-6">
        <%= f.input :blocks_hour %>
      </div>
    </div>
  </div>

  <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
