<tr>
  <td><%= pool_money.pool %></td>
  <td><%= pool_money.money %></td>
  <td><%= pool_money.website %></td>
  <td><%= pool_money.partner_link %></td>
  <td>
    <%= link_to 'Show', pool_money %>
  </td>
  <td>
    <% if policy(pool_money).edit? %>
      <%= link_to t('systems.edit'), edit_pool_path(pool_money), class: 'btn btn-success btn-xs' %>
    <% end %>
  </td>
  <td>
    <% if policy(pool_money).destroy? %>
      <%= link_to t('systems.destroy'), pool_money, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>