<div class="wrapper wrapper-content">
  <table class="table">
    <thead>
      <tr>
        <th>Pool</th>
        <th>Money</th>
        <th>Website</th>
        <th>Partner link</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'pool_moneys/pool_money', collection: @pool_moneys %>
    </tbody>
  </table>

  <br>
  <% if policy(PoolMoney).new? %>
    <%= link_to 'New Pool Money', new_pool_money_path, class: 'btn btn-success' %>
  <% end %>
</div>