<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>
        <%= t('.information_about_pool') %> <%= @pool.name %>
        -
        <strong><%= @pool_money.money.name %></strong>
      </h5>
    </div>
    <div class="ibox-content">
      <%= @pool_money.body.html_safe %>

      <p>
        <br />
        <%= link_to t('.go_to_pool'),
                    pool_money_go_path(@pool, @pool_money),
                    class: 'btn btn-primary'
        %>
      </p>


        <% if policy(@pool_money).edit? %>
          <%= link_to t('systems.edit'),
                      edit_pool_money_path(@pool, @pool_money),
                      class: 'btn btn-success btn-xs'
          %>
        <% end %>

        <% if policy(@pool_money).destroy? %>
          <%= link_to t('systems.destroy'),
                      pool_money_path(@pool, @pool_money),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-danger btn-xs'
          %>
        <% end %>

    </div>
  </div>
</div>
