<tr>
  <td><%= explorer.name %></td>
  <td><%= explorer.body %></td>
  <td><%= explorer.slug %></td>
  <td><%= explorer.image %></td>
  <td><%= explorer.money %></td>
  <td><%= explorer.website %></td>
  <td><%= explorer.api_url %></td>
  <td><%= explorer.api_type %></td>
  <td><%= link_to 'Show', explorer %></td>
  <td>
    <% if policy(explorer).edit? %>
      <%= link_to t('systems.edit'), edit_explorer_path(explorer), class: 'btn btn-warning btn-xs' %>
    <% end %>
    <% if policy(explorer).destroy? %>
      <%= link_to t('systems.destroy'),
                  explorer,
                  method: :delete,
                  data: {confirm: t('systems.are_you_sure')},
                  class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>