<%= simple_form_for(@explorer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :body %>
    <%= f.input :slug %>
    <%= f.input :image %>
    <%= f.association :money %>
    <%= f.input :website %>
    <%= f.input :api_url %>
    <%= f.input :api_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
