<div class="wrapper wrapper-content">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Body</th>
        <th>Slug</th>
        <th>Image</th>
        <th>Money</th>
        <th>Web url</th>
        <th>Api url</th>
        <th>Api type</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'explorers/explorer', collection: @explorers %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Explorer', new_explorer_path, class: 'btn btn-success' %>
</div>