<div class="wrapper wrapper-content">

  <p>
    <strong>Name:</strong>
    <%= @explorer.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @explorer.body %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= @explorer.slug %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @explorer.image %>
  </p>

  <p>
    <strong>Money:</strong>
    <%= @explorer.money %>
  </p>

  <p>
    <strong>Web url:</strong>
    <%= @explorer.website %>
  </p>

  <p>
    <strong>Api url:</strong>
    <%= @explorer.api_url %>
  </p>

  <p>
    <strong>Api type:</strong>
    <%= @explorer.api_type %>
  </p>

</div>
