<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :name %>
      </div>
      <div class="col-md-4">
        <%= f.input :controller %>
      </div>
      <div class="col-md-4">
        <%= f.input :action %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :title %>
      </div>
      <div class="col-md-6">
        <%= f.input :h1 %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <%= f.input :meta_description %>
      </div>
      <div class="col-md-6">
        <%= f.input :meta_keywords %>
      </div>
    </div>

    <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>

    <%= f.input :simple_text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
