<tr>
  <td><%= page.controller %></td>
  <td><%= page.action %></td>
  <td><%= page.name %></td>
  <td><%= page.title %></td>
  <td><%= page.h1 %></td>
  <td><%= link_to 'Show', page %></td>

  <td>
    <% if policy(page).edit? %>
      <%= link_to t('systems.edit'), edit_page_path(page), class: 'btn btn-success btn-xs' %>
    <% end %>
  </td>
  <td>
    <% if policy(page).destroy? %>
      <%= link_to t('systems.destroy'), page, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>

</tr>