<div class="wrapper wrapper-content">
  <table class="table">
    <thead>
      <tr>
        <th>Controller</th>
        <th>Action</th>
        <th>Name</th>
        <th>Title</th>
        <th>H1</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'pages/page', collection: @pages %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Page', new_page_path, class: 'btn btn-success' %>
</div>