<div class="wrapper wrapper-content">
  <p>
    <strong>Name:</strong>
    <%= @page.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @page.title %>
  </p>

  <p>
    <strong>Meta description:</strong>
    <%= @page.meta_description %>
  </p>

  <p>
    <strong>Meta keywords:</strong>
    <%= @page.meta_keywords %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @page.body %>
  </p>

  <p>
    <strong>H1:</strong>
    <%= @page.h1 %>
  </p>

  <p>
    <strong>Controller:</strong>
    <%= @page.controller %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= @page.action %>
  </p>

  <p>
    <strong>Simple text:</strong>
    <%= @page.simple_text %>
  </p>

  <p>

    <% if policy(@page).edit? %>
      <%= link_to t('systems.edit'), edit_page_path(@page), class: 'btn btn-success btn-xs' %>
    <% end %>

    <% if policy(@page).destroy? %>
      <%= link_to t('systems.destroy'), @page, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
    <% end %>

  </p>
</div>