<tr>
  <td><%= link_to wallet.name, wallet %></td>
  <td><%= wallet.website %></td>
  <td>
    <%= wallet.moneys.map{ |i| "<span class=\"label label-primary text-white\">#{i.symbol}</span>"}.join(' ').html_safe %>
  </td>
  <td>
    <% if policy(wallet).edit? %>
      <%= link_to t('systems.edit'), edit_wallet_path(wallet), class: 'btn btn-success btn-xs' %>
    <% end %>
    <% if policy(wallet).destroy? %>
      <%= link_to t('systems.destroy'),
                  wallet,
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-danger btn-xs'
      %>
    <% end %>
  </td>
</tr>