<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <table class="table">
        <thead>
          <tr>
            <th><%= t('activerecord.attributes.wallet.name') %></th>
            <th><%= t('activerecord.models.money') %></th>
            <th><%= t('activerecord.attributes.wallet.website') %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: 'wallets/wallet', collection: @wallets %>
        </tbody>
      </table>
    </div>
  </div>

  <% if policy(Wallet).new? %>
    <%= link_to t('systems.actions.create'), new_wallet_path, class: 'btn btn-primary btn-xs' %>
  <% end %>
</div>

