<div class="wrapper wrapper-content">
  <p>
    <strong>Name:</strong>
    <%= @wallet.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= @wallet.slug %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @wallet.body %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= @wallet.website %>
  </p>

  <p>
    <strong>Partner link:</strong>
    <%= @wallet.partner_link %>
  </p>
</div>
<% if policy(@wallet).edit? %>
  <%= link_to t('systems.edit'), edit_pool_path(@wallet), class: 'btn btn-success btn-xs' %>
<% end %>

<% if policy(@wallet).destroy? %>
  <%= link_to t('systems.destroy'), @wallet, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger' %>
<% end %>