<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>

<% css_class = 'btn btn-white' %>
<% if page.current? %>
    <%= link_to page, 'javascript:void(0);', { class: 'btn btn-white active'} %>

<% else %>
    <%= link_to_unless page.current?, page, url, { class: 'btn btn-white', remote: remote, rel: page.rel} %>
<% end %>