<%= simple_form_for [@miner_speed] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="row">
      <div class="col-md-3">
        <%= f.association :algorithm %>
      </div>
      <div class="col-md-2">
        <%= f.input :hash_rate %>
      </div>
      <div class="col-md-3">
        <%= f.association :algorithm_dual %>
      </div>
      <div class="col-md-2">
        <%= f.input :hash_rate_dual %>
      </div>
      <div class="col-md-2">
        <%= f.input :power_rate %>
      </div>
    </div>

    <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>

  </div>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
