<% require 'parser/whattomine_parse'; w = WhattomineParse.new %>

<tr>
  <td><%= miner_speed.miner %></td>
  <td><%= miner_speed.algorithm %></td>
  <td><%= miner_speed.algorithm_dual %></td>
  <td><%= miner_speed.hash_rate %></td>
  <td><%= miner_speed.hash_rate_dual %></td>
  <td><%= miner_speed.power_rate %></td>
  <td><%= link_to 'Show', miner_speed %></td>
  <td>
    <% if policy(miner_speed).edit? %>
      <%= link_to t('systems.edit'), edit_miner_speed_path(miner_speed), class: 'btn btn-warning btn-xs' %>
    <% end %>
    <% if policy(miner_speed).destroy? %>
      <%= link_to t('systems.destroy'),
                  miner_speed,
                  method: :delete,
                  data: {confirm: t('systems.are_you_sure')},
                  class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>

