<div class="wrapper wrapper-content">
  <table class="table">
    <thead>
      <tr>
        <th>Miner</th>
        <th>Algorithm</th>
        <th>Algorithm dual</th>
        <th>Hash rate</th>
        <th>Hash rate dual</th>
        <th>Power rate</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'miner_speeds/miner_speed', collection: @miner_speeds %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Miner Speed', new_miner_speed_path, class: 'btn btn-success' %>
</div>