<div class="wrapper wrapper-content">
  <p>
    <strong>Miner:</strong>
    <%= @miner_speed.miner %>
  </p>

  <p>
    <strong>Algorithm:</strong>
    <%= @miner_speed.algorithm %>
  </p>

  <p>
    <strong>Algorithm dual:</strong>
    <%= @miner_speed.algorithm_dual %>
  </p>

  <p>
    <strong>Hash rate:</strong>
    <%= @miner_speed.hash_rate %>
  </p>

  <p>
    <strong>Hash rate dual:</strong>
    <%= @miner_speed.hash_rate_dual %>
  </p>

  <p>
    <strong>Power rate:</strong>
    <%= @miner_speed.power_rate %>
  </p>
</div>