<tr>
  <td><%= exchange_course.exchange %></td>
  <td><%= exchange_course.money_from %></td>
  <td><%= exchange_course.money_to %></td>
  <td><%= exchange_course.payment_system_from %></td>
  <td><%= exchange_course.payment_system_to %></td>
  <td><%= exchange_course.amount_min %></td>
  <td><%= exchange_course.amount_max %></td>
  <td><%= exchange_course.amount_exist %></td>
  <td><%= exchange_course.in %></td>
  <td><%= exchange_course.out %></td>
  <td><%= link_to 'Show', exchange_course %></td>
  <td>
    <% if policy(exchange_course).edit? %>
      <%= link_to t('systems.edit'), edit_exchange_course_path(exchange_course), class: 'btn btn-warning btn-xs' %>
    <% end %>
    <% if policy(exchange_course).destroy? %>
      <%= link_to t('systems.destroy'),
                  exchange_course,
                  method: :delete,
                  data: {confirm: t('systems.are_you_sure')},
                  class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>