<%= simple_form_for(@exchange_course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :exchange %>
    <%= f.association :money_from %>
    <%= f.association :money_to %>
    <%= f.association :payment_system_from %>
    <%= f.association :payment_system_to %>
    <%= f.input :amount_min %>
    <%= f.input :amount_max %>
    <%= f.input :amount_exist %>
    <%= f.input :in %>
    <%= f.input :out %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
