<div class="wrapper wrapper-content">
<table class="table">
  <thead>
    <tr>
      <th>Exchange</th>
      <th>Money from</th>
      <th>Money to</th>
      <th>Payment system from</th>
      <th>Payment system to</th>
      <th>Amount min</th>
      <th>Amount max</th>
      <th>Amount exist</th>
      <th>In</th>
      <th>Out</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'exchange_courses/exchange_course', collection: @exchange_courses %>
  </tbody>
</table>

<br>

<%= link_to 'New Exchange Course', new_exchange_course_path, class: 'btn btn-success' %>
</div>