<div class="wrapper wrapper-content">
  <p>
    <strong>Exchange:</strong>
    <%= @exchange_course.exchange %>
  </p>

  <p>
    <strong>Money from:</strong>
    <%= @exchange_course.money_from %>
  </p>

  <p>
    <strong>Money to:</strong>
    <%= @exchange_course.money_to %>
  </p>

  <p>
    <strong>Payment system from:</strong>
    <%= @exchange_course.payment_system_from %>
  </p>

  <p>
    <strong>Payment system to:</strong>
    <%= @exchange_course.payment_system_to %>
  </p>

  <p>
    <strong>Amount min:</strong>
    <%= @exchange_course.amount_min %>
  </p>

  <p>
    <strong>Amount max:</strong>
    <%= @exchange_course.amount_max %>
  </p>

  <p>
    <strong>Amount exist:</strong>
    <%= @exchange_course.amount_exist %>
  </p>

  <p>
    <strong>In:</strong>
    <%= @exchange_course.in %>
  </p>

  <p>
    <strong>Out:</strong>
    <%= @exchange_course.out %>
  </p>
</div>