<%= simple_form_for(@miner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="row">
      <div class="col-md-3">
        <%= f.input :brand_name %>
      </div>
      <div class="col-md-3">
        <%= f.input :name %>
      </div>
      <div class="col-md-3">
        <%= f.input :miner_type, collection: miner_type_list  %>
      </div>
      <div class="col-md-3">
        <%= f.input :slug %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :power_rate %>
      </div>
      <div class="col-md-6">
        <%= f.input :noise_level %>
      </div>
    </div>

    <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>

    <br />
    <div class="form-group">
      <%= f.label :image %>
      <p><%= image_tag(@miner.image.thumb.url) if @miner.image? %></p>
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
