<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h4>Пакетная загрузка данных</h4>
  </div>
  <div class="ibox-content">
    <table class="table">
      <thead>
      <tr>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          brand_name
        </td>
        <td>
          Название бренда
        </td>
      </tr>
      <tr>
        <td>
          name
        </td>
        <td>
          Название модели
        </td>
      </tr>
      <tr>
        <td>
          miner_type
        </td>
        <td>
          ASIC = 2,
          GPU = 4,
          CPU = 6,
          RISER = 8,
          MATHER = 10,
          POWER = 12,
          OTHERS = 100
        </td>
      </tr>
      <tr>
        <td>
          body
        </td>
        <td>
          Текст страницы
        </td>
      </tr>
      <tr>
        <td>
          power_rate
        </td>
        <td>
          Максимальная мощность
        </td>
      </tr>
      <tr>
        <td>
          noise_level
        </td>
        <td>
          Уровень шума
        </td>
      </tr>
      </tbody>
    </table>

    <%= form_with(model: Miner.new, local: true, url: {action: "import"}) do |form| %>
      <div class="field">
        <%= form.label :File %>
        <%= form.file_field :file %>
      </div>
      <br />
      <div class="actions">
        <%= form.submit class: 'btn btn-primary', value: 'Импортировать файл' %>
      </div>
    <% end %>

  </div>
</div>


