<tr>
  <td><%= image_tag miner.image.thumb.url if miner.image.present? %></td>
  <td><%= link_to(miner.name, miner) %></td>
  <td>
    <%= miner.algorithms.map{ |i| "<span class=\"label label-primary text-white\">#{i.name}</span>"}.join(' ').html_safe %>
  </td>
  <td><%= miner.power_rate %></td>
  <td><%= miner.noise_level %></td>
  <td>
    <% if policy(miner).edit? %>
      <%= link_to t('systems.edit'), edit_miner_path(miner), class: 'btn btn-warning btn-xs' %>
    <% end %>
    <% if policy(miner).destroy? %>
      <%= link_to t('systems.destroy'), miner, method: :delete, data: {confirm: t('systems.are_you_sure')}, class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>