<% require 'parser/whattomine_parse' %>
<div class="col-md-4">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%= speed.algorithm.name %><%= " / #{speed.algorithm_dual.name}" if speed.algorithm_dual.present? %></h5>
      <div class="ibox-tools">
      <span class="label label-primary">
        <%= speed.hash_rate.to_f / 100 %><%= " / #{speed.hash_rate_dual}" if speed.algorithm_dual.present? %>
      </span>
      </div>
    </div>
    <div class="ibox-content">
      <table class="table table-hover no-margins">
        <thead>
        <tr>
          <th>Money</th>
          <th>Date</th>
          <th>BTC</th>
          <th>USD</th>
        </tr>
        </thead>
        <tbody>
        <% if WhattomineParse.algorithm_exist?(speed.algorithm.slug) %>
          <% w = WhattomineParse.new; w.set_algorithm(speed.algorithm.slug, speed.hash_rate.to_f / 100, speed.power_rate)
            .get_profit.each do |i| %>
            <tr>
              <td><%= i.first %></td>
              <td><%= i.last['tag'] %></td>
              <td><%= i.last['btc_revenue24'] %></td>
              <td>
                <%= nice_price(i.last['btc_revenue24'].to_f * 9789.80, 2) %> $
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
