<div class="wrapper wrapper-content">
  <%= render 'form', miner: @miner %>

  <% if policy(@miner).destroy? %>
    <hr/>
    <%= link_to t('systems.destroy'),
                @miner,
                method: :delete,
                data: {confirm: t('systems.are_you_sure')},
                class: 'btn btn-xs btn-danger' %>
  <% end %>
</div>