<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h4>ASIC</h4>
    </div>
    <div class="ibox-content">
      <table class="table table-hover issue-tracker">
        <thead>
        <tr>
          <th><%= I18n.t('activerecord.attributes.miner.image') %></th>
          <th><%= I18n.t('activerecord.attributes.miner.name') %></th>
          <th><%= I18n.t('activerecord.models.money') %></th>
          <th><%= I18n.t('activerecord.attributes.miner.power_rate') %></th>
          <th><%= I18n.t('activerecord.attributes.miner.noise_level') %></th>
          <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: 'miners/miner', collection: @miners.select{|i| i.miner_type == 2} %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h4>Видеокарты</h4>
    </div>
    <div class="ibox-content">
      <table class="table table-hover issue-tracker">
        <thead>
        <tr>
          <th><%= I18n.t('activerecord.attributes.miner.image') %></th>
          <th><%= I18n.t('activerecord.attributes.miner.name') %></th>
          <th><%= I18n.t('activerecord.models.money') %></th>
          <th><%= I18n.t('activerecord.attributes.miner.power_rate') %></th>
          <th><%= I18n.t('activerecord.attributes.miner.noise_level') %></th>
          <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
          <%= render partial: 'miners/miner', collection: @miners.select{|i| i.miner_type == 4} %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h4>Комплектующие для ферм</h4>
    </div>
    <div class="ibox-content">
      <table class="table table-hover issue-tracker">
        <thead>
        <tr>
          <th><%= I18n.t('activerecord.attributes.miner.image') %></th>
          <th><%= I18n.t('activerecord.attributes.miner.name') %></th>
          <th><%= I18n.t('activerecord.models.money') %></th>
          <th><%= I18n.t('activerecord.attributes.miner.power_rate') %></th>
          <th><%= I18n.t('activerecord.attributes.miner.noise_level') %></th>
          <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: 'miners/miner', collection: @miners.select{|i| i.miner_type != nil && i.miner_type > 4} %>
        </tbody>
      </table>
    </div>
  </div>
  <% if policy(Miner).new? %>
    <hr/>
    <%= link_to 'New Miner', new_miner_path, class: 'btn btn-primary' %>
  <% end %>
</div>
