<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-content text-center">
          <%= @miner.image if @miner.image.present? %>
          <p>
            <strong>Power rate:</strong>
            <%= @miner.power_rate %> |
            <strong>Noise level:</strong>
            <%= @miner.noise_level %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('.information_equipment') %> <%= @miner.name %></h5>
        </div>
        <div class="ibox-content">
          <%= @miner.body.html_safe if @miner.body.present? %>
        </div>
      </div>
    </div>
  </div>

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%= t('.profitability_equipment') %> <%= @miner.name %></h5>
    </div>
    <div class="ibox-content">
      <div class="row">
        <%= nice_price(@miner.profitability) %> BTC
        <%= nice_price(@miner.profitability.to_f * 9789.80, 2) %> $
      </div>
    </div>
  </div>

  <div class="row">
    <%= render partial: 'miners/speed', collection: @miner.miner_speeds %>
  </div>


  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Модификации оборудования <%= @miner.name %></h5>
    </div>
    <div class="ibox-content">
      <div class="row">
        <table class="table table-hover issue-tracker">
          <thead>

          </thead>
          <tbody>
            <%= render partial: 'miners/mode', collection: @miner.miner_modes %>
          </tbody>
        </table>
      </div>
    </div>
  </div>



<% if policy(@miner).edit? %>
  <%= link_to t('systems.edit'), edit_miner_path(@miner), class: 'btn btn-warning' %>
<% end %>
<% if policy(MinerSpeed).new? %>
  <%= link_to t('.create_miner_speed'), new_miner_speed_path(@miner), class: 'btn btn-success' %>
<% end %>

</div>