<%= simple_form_for(@market) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :slug %>
    <%= f.input :website %>
    <%= f.input :image %>
    <%= f.input :language %>
    <%= f.input :body %>
    <%= f.input :twitter %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
