<tr>
  <td style="width: 33px">
    <%= image_tag(market.image.icon.url) if market.image? %>
  </td>
  <td class="">
    <%= link_to market.title, market_path(market), class: '' %>
  </td>
  <td><%= market.website %></td>
  <td><%= market.language %></td>
  <td>
    <% if policy(market).edit? %>
        <%= link_to t('systems.edit'), edit_market_path(market), class: 'btn btn-warning btn-xs' %>
    <% end %>
    <% if policy(market).destroy? %>
        <%= link_to t('systems.destroy'), market, method: :delete, data: {confirm: t('systems.are_you_sure')}, class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>