<div class="wrapper wrapper-content">
  <% if policy(Market).new? %>
    <%= link_to t('systems.actions.create'), new_market_path, class: 'btn btn-success' %>
  <% end %>
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%= t('.list_exchanges') %></h5>
    </div>
    <div class="ibox-content">
      <table class="table table-hover issue-tracker">
        <tbody>
          <%= render partial: 'markets/market', collection: @markets %>
        </tbody>
      </table>
    </div>
  </div>
</div>
