<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%= t('activerecord.attributes.money.about', title: @market.title) %></h5>
      <span class="pull-right">
        <% if policy(@market).edit? %>
          <%= link_to t('systems.edit'), edit_market_path(@market), class: 'btn btn-warning btn-xs' %>
        <% end %>
        <% if policy(@market).destroy? %>
          <%= link_to t('systems.destroy'), @market, method: :delete, data: {confirm: t('systems.are_you_sure') }, class: 'btn btn-xs btn-danger' %>
        <% end %>
      </span>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag(@market.image.url, style: 'max-width:100%') if @market.image? %>
        </div>
        <div class="col-md-10">
          <p>
            <%= @market.body %>
          </p>
          <p>
            <%= t('system.webpage') %>: <%= link_to @market.website, @market.website, target: '_blank' %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('activerecord.models.news')%></h5>
        </div>
        <div class="ibox-content">

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('social.twitter')%></h5>
        </div>
        <div class="ibox-content">

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('activerecord.attributes.money.currency_traded', title: @market.title)%> </h5>
        </div>
        <div class="ibox-content">
          <div id="morris-one-line-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('payment_systems', title: @market.title) %></h5>
        </div>
        <div class="ibox-content">
          <p><%= t('.want_to_buy') %></p>
          <p><%= t('.want_to_sell') %></p>
        </div>
      </div>
    </div>
  </div>
</div>