// Place all the styles related to the exchanges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#money_to, #money_from {
  margin-left: 0;
  padding-left: 0;
  .grid-item {
    list-style: none;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.courses-table {
  td {
    padding: 0 !important;
    height: auto !important;
  }
}