<%= simple_form_for(@telegram_chanel, url: social_telegram_index_path(@social)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-md-6">
        <%= f.input :slug %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :website %>
      </div>
      <div class="col-md-6">
        <%= f.input :partner_link %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <%= f.input :type_chanel,
                    collection: TelegramChanel::TYPES_CHANEL %>
      </div>
      <div class="col-md-5">
        <%= f.input :count_user %>
      </div>
      <div class="col-md-2">
        <%= f.input :paid, as: :boolean %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :tag_list %><br/>
        <%= f.text_field :tag_list, class: 'tagsinput', value: f.object.tag_list.to_s %>
      </div>
    </div>
    <br />
    <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>
  </div>

  <br />
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
