<div class="col-lg-12">
  <div class="ibox">
    <div class="ibox-content">
      <%= link_to raw("<h2>#{telegram_chanel.name}</h2>"),
                  social_telegram_path(telegram_chanel.social, telegram_chanel),
                  class: 'btn-link'
      %>
      <p>
        <%= telegram_chanel.body unless telegram_chanel.body.nil? %>
      </p>
      <div class="row">
        <div class="col-md-6">
          <h5>Tags:</h5>
          <% telegram_chanel.tag_list.each do |t| %>
            <button class="btn btn-primary btn-xs" type="button">
              <%= t %>
            </button>
          <% end %>
        </div>
        <div class="col-md-6">
          <div class="small text-right">
            <h5>Stats:</h5>
            <div><i class="fa fa-comments-o"> </i> 0 comments</div>
            <i class="fa fa-eye"> </i> 0 views
          </div>
        </div>
      </div>
    </div>
  </div>
</div>