<div class="wrapper wrapper-content">

  <div class="row">
    <%= render partial: 'telegram_chanels/telegram_chanel',
             collection: @telegram_chanels %>
  </div>

  <%= paginate @telegram_chanels %>

  <br>

  <% if policy(TelegramChanel).new? %>
    <%= link_to 'New Telegram Chanel',
                new_social_telegram_path,
                class: 'btn btn-success'
    %>
  <% end %>
</div>