<div class="wrapper wrapper-content">

  <div class="ibox">
    <div class="ibox-content">
      <%= @telegram_chanel.body %>

      <p>
        <strong>Type:</strong>
        <%= @telegram_chanel.type_chanel %>
      </p>

      <p>
        <strong>Count user:</strong>
        <%= @telegram_chanel.count_user %>
      </p>

      <% @telegram_chanel.tag_list.each do |t| %>
        <button class="btn btn-primary btn-xs" type="button">
          <%= t  %>
        </button>
      <% end %>
    </div>
  </div>

  <p>
    <%= link_to t('.add'),
                social_go_telegram_path(@telegram_chanel.social, @telegram_chanel),
                class: 'btn btn-success'
    %>

    <% if policy(@telegram_chanel).edit? %>
      <%= link_to t('systems.edit'),
                  edit_social_telegram_path(@telegram_chanel.social, @telegram_chanel),
                  class: 'btn btn-warning btn-xs'
      %>
    <% end %>

    <% if policy(@telegram_chanel).destroy? %>
      <%= link_to t('systems.destroy'),
                  social_telegram_url(@telegram_chanel.social, @telegram_chanel),
                  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
      %>
    <% end %>
  </p>
</div>