<tr>
  <td><%= article_category.title %></td>
  <td><%= article_category.body %></td>
  <td><%= article_category.slug %></td>
  <td><%= article_category.meta_desc %></td>
  <td><%= article_category.meta_key %></td>
  <td><%= article_category.image %></td>
  <td><%= link_to 'Show', article_category %></td>
  <td>
    <% if policy(article_category).edit? %>
      <%= link_to t('systems.edit'), edit_article_category_path(article_category), class: 'btn btn-warning btn-xs' %>
    <% end %>
    <% if policy(article_category).destroy? %>
      <%= link_to t('systems.destroy'), article_category, method: :delete, data: {confirm: t('systems.are_you_sure')}, class: 'btn btn-xs btn-danger' %>
    <% end %>
  </td>
</tr>