<div class="wrapper wrapper-content">
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Slug</th>
      <th>Meta desc</th>
      <th>Meta key</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
      <%= render partial: 'article_categories/article_category', collection: @article_categories %>
    </tbody>
  </table>

  <br>

  <% if policy(ArticleCategory).new? %>
    <%= link_to 'New Article Category', new_article_category_path, class: 'btn btn-success' %>
  <% end %>
</div>