<div class="wrapper wrapper-content">
  <p>
    <strong>Title:</strong>
    <%= @article_category.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @article_category.body %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= @article_category.slug %>
  </p>

  <p>
    <strong>Meta desc:</strong>
    <%= @article_category.meta_desc %>
  </p>

  <p>
    <strong>Meta key:</strong>
    <%= @article_category.meta_key %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @article_category.image %>
  </p>
</div>