<%= simple_form_for(@social) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
      <div class="col-md-6">
        <%= f.input :slug %>
      </div>
    </div>

    <%= f.cktext_area :body, class: 'someclass', ckeditor: { language: 'ru'} %>
  </div>

  <br />

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
