<tr>
  <td><%= link_to social.name, social %></td>
  <td></td>
  <td>
    <%= link_to t('systems.edit'),
                edit_social_path(social),
                class: 'btn btn-success btn-xs'
    %>
    <%= link_to t('systems.destroy'),
                social,
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-danger btn-xs'
    %>
  </td>
</tr>