<div class="wrapper wrapper-content">
<table class="table">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.social.name') %></th>
      <th></th>
      <th><%= t('systems.actions.all') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'socials/social', collection: @socials %>
  </tbody>
</table>

<br>

<%= link_to 'New Social', new_social_path, class: 'btn btn-success' %>
</div>