<div class="wrapper wrapper-content">

  <p>
    <strong>Image:</strong>
    <%= @social.image %>
  </p>

  <p>
    <%= @social.body.html_safe if @social.body.present? %>
  </p>

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3> <%= @social.name %> <%= t('activerecord.models.youtube_chanels') %></h3>
    </div>
    <div class="ibox-content">
      <div class="animated fadeInRight">
        <div class="row">
          <%= render partial: 'youtube_chanels/youtube_chanel',
                     collection: @youtube_chanels %>
        </div>
      </div>
    </div>
  </div>


  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3> <%= @social.name %> <%= t('activerecord.models.telegram_chanels') %></h3>
    </div>
    <div class="ibox-content">
      <div class="animated fadeInRight">
        <div class="row">
          <%= render partial: 'telegram_chanels/telegram_chanel',
                     collection: @telegram_chanels %>
        </div>
      </div>
    </div>
  </div>

  <p>
    <% if policy(TelegramChanel).new? %>
      <%= link_to t('.create_telegram_chanel'),
                  new_social_telegram_path(@social),
                  class: 'btn btn-success btn-xs' %>
    <% end %>
    <% if policy(YoutubeChanel).new? %>
      <%= link_to t('.create_youtube_chanel'),
                  new_social_youtube_path(@social),
                  class: 'btn btn-success btn-xs' %>
    <% end %>
  </p>
</div>