<div class="col-md-4">
  <div class="contact-box">
    <a href="<%= social_youtube_url(youtube_chanel.social, youtube_chanel) %>">
      <div class="text-center">
        <img style="margin: 0 auto;" alt="image" class="img-circle m-t-xs img-responsive" src="<%= youtube_chanel.image %>">
        <h3><strong><%= youtube_chanel.name %></strong></h3>
        <p><i class="fa fa-users"></i> <%= youtube_chanel.count_user %></p>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>