<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="animated fadeInRight">
        <div class="row">
          <%= render partial: 'youtube_chanels/youtube_chanel',
                     collection: @youtube_chanels %>
        </div>
      </div>

      <%= paginate @youtube_chanels %>
    </div>
  </div>
  <% if policy(YoutubeChanel).new? %>
    <%= link_to t('socials.show.create_youtube_chanel'), new_youtube_chanel_path, class: 'btn btn-success' %>
  <% end %>
</div>