<div class="wrapper wrapper-content">
  <% if policy(@youtube_chanel).update_from_youtube? %>
    <%= link_to t('.update_from_youtube'),
                social_youtube_update_path(@youtube_chanel.social, @youtube_chanel),
                class: 'btn btn-primary btn-xs'
    %>
  <% end %>

  <% if policy(@youtube_chanel).edit? %>
    <%= link_to t('systems.edit'),
                edit_social_youtube_path(@youtube_chanel.social, @youtube_chanel),
                class: 'btn btn-success btn-xs'
    %>
  <% end %>

  <% if policy(@youtube_chanel).destroy? %>
    <%= link_to t('systems.destroy'),
                social_youtube_path(@youtube_chanel.social, @youtube_chanel),
                method: :delete,
                class: 'btn btn-danger btn-xs',
                data: { confirm: 'Are you sure?'}
    %>
  <% end %>

  <% if policy(@youtube_chanel).update_from_youtube? || policy(@youtube_chanel).edit? || policy(@youtube_chanel).destroy? %>
    <hr />
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <%= image_tag @youtube_chanel.image if @youtube_chanel.image.present? %>
    </div>
    <div class="col-md-9">
      <p>
        <%= @youtube_chanel.body.html_safe %>
      </p>
      <p>
        <strong><%= t('.count_user') %>:</strong>
        <%= @youtube_chanel.count_user %>
      </p>
      <p>
        <%= link_to t('.go_to_channel'),
                    social_go_youtube_path(@youtube_chanel.social, @youtube_chanel),
                    class: 'btn btn-success',
                    target: '_blank'
        %>
      </p>
    </div>
  </div>

  <hr />
  <h3><%= t('.last_video_on_channel') %> <%= @youtube_chanel.name %></h3>
  <div class="row">
    <p>
      <% @youtube_chanel.yt.videos.first(9).each do |video| %>
        <iframe class="col-md-4"
                style="margin-bottom: 10px"
                height="315"
                src="https://www.youtube.com/embed/<%= video.id %>"
                frameborder="0"
                allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
      <% end %>
    </p>
  </div>

  <p>
    <%= link_to t('.go_to_channel'),
                social_go_youtube_path(@youtube_chanel.social, @youtube_chanel),
                class: 'btn btn-success',
                target: '_blank'
    %>
  </p>

</div>