<%= simple_form_for(@go_counter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :resource_class %>
    <%= f.input :resource_id %>
    <%= f.input :date_go %>
    <%= f.input :user_agent %>
    <%= f.input :ip %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
