<tr>
  <td><%= go_counter.resource_class %></td>
  <td><%= go_counter.resource_id %></td>
  <td><%= go_counter.last_date %></td>
  <td><%= go_counter.count_click %></td>
  <td>
    <%= link_to 'open', Exchange.find(go_counter.resource_id) if go_counter.resource_class == 'Exchange' %>
  </td>
</tr>