<div class="wrapper wrapper-content">
  <table class="table">
    <thead>
      <tr>
        <th>Resource class</th>
        <th>Resource</th>
        <th>Date go</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'go_counters/go_counter', collection: @go_counters %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Go Counter', new_go_counter_path, class: 'btn btn-success' %>
</div>