<div class="wrapper wrapper-content">
  <p>
    <strong>Resource class:</strong>
    <%= @go_counter.resource_class %>
  </p>

  <p>
    <strong>Resource:</strong>
    <%= @go_counter.resource_id %>
  </p>

  <p>
    <strong>Date go:</strong>
    <%= @go_counter.date_go %>
  </p>

  <p>
    <strong>User agent:</strong>
    <%= @go_counter.user_agent %>
  </p>

  <p>
    <strong>Ip:</strong>
    <%= @go_counter.ip %>
  </p>
</div>