<% # Clients of this partial must supply the following variables:
   # thread
   # user
   # per_page

   hidden_class = @new_comment.nil? ? ' commontator_hidden' : '' %>

<div id="thread_<%= thread.id %>_reply" class="thread_reply">
  <% if thread.is_closed? %>
    <p><%= t 'commontator.thread.status.cannot_post' %></p>
  <% elsif !user %>
  
  <% else %>
    <div id="thread_<%= thread.id %>_new_comment_form_div" class="thread_new_comment_form<%=
    hidden_class %>">
      <% unless @new_comment.nil? %>
        <%= render partial: 'commontator/comments/form',
                   locals: { comment: @new_comment,
                                thread: thread,
                                per_page: per_page } %>
      <% end %>
    </div>

    <% if @new_comment.nil? %>
      <div id="thread_<%= thread.id %>_new_comment_link_div" class="thread_new_comment_link">
        <%= link_to t('commontator.comment.actions.new'),
            commontator.new_thread_comment_path(thread, per_page: per_page),
            remote: true %>
      </div>
    <% end %>
  <% end %>
</div>
