<% # Clients of this partial must supply the following variables:
   # thread
   # user
   # page
   # per_page
   # Optionally, they can also supply the following variable:
   show_all ||= false
%>
$("#auth_link").show();
$("#thread_<%= thread.id %>_div").html(
  "<%= escape_javascript(
    render partial: 'commontator/threads/show',
           formats: [:html],
           locals: { thread: thread,
                        user: user,
                        page: page,
                        per_page: per_page,
                        show_all: show_all }) %>");
