<% flash.each do |type, message| %>
    <div class="m-t alert <%= bootstrap_class_for(type) %> fade in alert-dismissable">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
      <%= message %>
    </div>
<% end %>
