<div class="footer">
    <div class="pull-right">
      <%= render 'layouts/counter' if File.exist?("#{__dir__}/_counter.html.erb") %>
    </div>
    <div>
        <strong>Copyright</strong> <a href="http://rabadan.ru/">Rabadan Akagasanov</a> &copy; 2017
    </div>
</div>
