<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">
                  <%= current_user_or_guest %>
                </strong>
              </span>
            </span>
          </a>

        </div>
        <div class="logo-element">
          <i class="fa fa-btc"></i>
        </div>
      </li>
      <li class="<%= 'active' if current_page?('/') %>">
        <%= link_to "/" do %>
          <i class="fa fa-home"></i>
          <span class="nav-label">
            <%= t('breadcrumbs.homepage') %>
          </span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(news_index_url) %>">
        <%= link_to news_index_url do %>
          <i class="fa fa-newspaper-o"></i>
          <span class="nav-label">
            <%= t('activerecord.models.news') %>
          </span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(money_index_url) %>">
        <%= link_to money_index_url do %>
          <i class="fa fa-btc"></i>
          <span class="nav-label">
            <%= t('activerecord.models.money') %>
          </span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(algorithms_path) %>">
        <%= link_to algorithms_path do %>
          <i class="fa fa-random"></i>
          <span class="nav-label">
            <%= t('activerecord.models.algorithm') %>
          </span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(pools_path) %>">
        <%= link_to pools_path do %>
          <i class="fa fa-sitemap"></i>
          <span class="nav-label">
            <%= t('activerecord.models.pool') %>
          </span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(miners_path) %>">
        <%= link_to miners_path do %>
          <i class="fa fa-cog"></i>
          <span class="nav-label">
            <%= t('activerecord.models.miner') %>
          </span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(chenge_index_path) %>">
        <%= link_to chenge_index_path do %>
          <i class="fa fa-exchange"></i>
          <span class="nav-label">
            <%= t('activerecord.models.exchanges') %>
          </span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(wallets_path) %>">
        <%= link_to wallets_path do %>
          <i class="fa fa-credit-card"></i>
          <span class="nav-label">
            <%= t('activerecord.models.wallet') %>
          </span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(socials_path) %>">
        <%= link_to socials_path do %>
          <i class="fa fa-telegram"></i>
          <span class="nav-label">
            <%= t('activerecord.models.socials') %>
          </span>
        <% end %>
      </li>
      <% if is_admin? %>
        <li class="<%= 'active' if current_page?(pages_path) %>">
          <%= link_to pages_path do %>
            <i class="fa fa-folder"></i>
            <span class="nav-label">
              <%= t('activerecord.models.pages') %>
            </span>
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(go_counters_path) %>">
          <%= link_to go_counters_path do %>
            <i class="fa fa-folder"></i>
            <span class="nav-label">
              <%= t('activerecord.models.go_counter') %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>