<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
        <i class="fa fa-bars"></i>
      </a>
      <form role="search" class="navbar-form-custom" method="post" action="/">
        <div class="form-group">
          <input type="text"
                 placeholder=""
                 class="form-control"
                 name="top-search"
                 id="top-search" />
        </div>
      </form>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <% if user_signed_in? %>
          <%= link_to t('.log_out'), destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to t('.log_in'), new_user_session_path %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>