<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %> </title>
  <%= "<meta name=\"description\" content=\"#{@meta_description}\">".html_safe if @meta_description.present? %>
  <%= "<meta name=\"keywords\" content=\"#{@meta_keywors}\">".html_safe if @meta_keywors.present? %>
  <%= meta_og_tags @og_properties if @og_properties.present?  %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Wrapper-->
<div id="wrapper">
  <!-- Navigation -->
  <%= render 'layouts/navigation' %>
  <!-- Page wraper -->
  <div id="page-wrapper" class="gray-bg">
    <!-- Page wrapper -->
    <%= render 'layouts/topnavbar' %>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
        <h1><%= @h1 %></h1>
        <ol class="breadcrumb">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      </div>
    </div>
    <%= render 'layouts/flash' %>
    <!-- Main view  -->
    <%= yield %>
    <br/>
    <br/>
    <br/>
    <!-- Footer -->
    <%= render 'layouts/footer' %>
  </div>
  <!-- End page wrapper-->
</div>
<!-- End wrapper-->
</body>
</html>
