<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Crypto aide</title>
  <!-- Main css styles -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Main javascript files -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">


  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <h1 class="logo-name"><i class="fa fa-btc"></i></h1>
      </div>
      <%= yield %>
      <p class="m-t"> <small><a href="http://rabadan.ru/">Rabadan Akagasanov</a> &copy; 2014</small> </p>
    </div>
  </div>
</div>

</body>
</html>
